#avatar-name {
  height: 400px;
  width: 100%;
  margin-top: 100px;
  background-color: #9effdf;
  color: #9b4106;
  background-image: url("https://www.transparenttextures.com/patterns/norwegian-rose.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.avatar {
  display: flex;
  justify-content: flex-end;
}

div.name {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#yourname {
  margin-top: 0;
  margin-bottom: 10%;
}

div.nav {
  height: 100px;
}

/* for desktop */
@media only screen and (min-width: 1024px) {

  #avatar-name {
    width: 50%;
    margin-top: 180px;
    margin-left: 3%;
    display: flex;
  }

}