div.newtweet {
  margin-top: 30px;
  margin-bottom: 40px;
}

#new-tweet {
  width: 100%;
  text-align: left;
}

textarea {
  width: 100%;
  margin-top: 10px;
  background-color: #f4f1ec;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #545149;
  border-bottom-width: 3px;
}

button {
  background-color: #4056a1;
  color: #FFFFFF;
  font-family: "Bungee";
}

.counter {
  font-family: "Bungee";
  color: #545149;
}

.overcount {
  font-family: "Bungee";
  color: #FF0000;
}

.submit-counter {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

div.err-msg {
  border-style: double;
  border-color: orange;
  color: rgb(170, 2, 2);
  background-color: #f7eeeb;
  padding: 2%;
  font-weight: 600;
  display: flex;
  justify-content: center;
}